@import 'bootstrap/dist/css/bootstrap.min.css';
@import './ProductsPage.scss';
@import './OrderCard.scss';
@import './Header.scss';
@import './NavMenu.scss';
@import './OrderPage.scss';
@import './OrderItems.scss';
@import './OrderProduct.scss';
@import './ProductCard.scss';
@import './variables';



html,
body,
ul,
li {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
* {
  box-sizing: border-box;
}

.contain {
  width: 100%; 
  margin: 0 auto; 
  padding: 20px;
}

.settingPage {
  display: flex;
  width: 100%;
}

.bc-grey {
  background-color: rgb(246, 246, 246);
}

