.productCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid grey;
  background-color: white;
  border-radius: 10px;
  margin: 10px 0px;

  &__green_circle {
    width: 15px;
    height: 15px;
    background-color: rgb(0, 181, 0);
    border-radius: 10px;
  }

  &__productInfo {
    width: 200px;
  }

  &__productName {
    display: inline-block;
    border-bottom: 1px solid rgb(233, 233, 233);
  }

  &__serialNumber {
    color: grey;
  }
}